body{
    background-color: #f0f0f0;
    color: rgb(255, 255, 255);
}
.menu-principal {
    position: fixed;
    top: 10px;
    right: 10px;
}
.menu-principal ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
.menu-principal a{
    text-decoration: none;
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}